canvas{
    
    
    
    box-shadow:5px 5px 5px 5px #8888889c;
}

.chart-container {
    position: relative;
    margin: 25px 0px;
    height: 250px;
    width: 500px;
    
    
  }
  

  .yo{
      color: #f32167;
    
  }

  @media (max-width: 767px){
    .chart-container {
        position: relative;
        margin: 25px 0px;
        height: 200px;
        width: 400px;
        
        
      }
  }


@media (max-width: 480px) {
    .chart-container {
        position: relative;
        margin: 25px 0px;
        height: 150px;
        width: 300px;
        
        
      }
}


@media (max-width: 360px) {
    .chart-container {
        position: relative;
        margin: 25px 0px;
        height: 10px;
        width: 20px;
        
        
      }
}